* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  line-height: 1;
}
.App {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  display: flex;
  gap: 10px;
}

.button {
  width: fit-content;
  padding: 4px;
}
